@using PersonalBlog.Data;
@model PersonalBlog.Data.About;
@{
    ViewBag.Title = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var githubUsername = string.IsNullOrEmpty(Model.Github)
        ? ""
        : Model.Github.TrimEnd('/').Split('/').Last();
}
<!-- About Section -->
<section class="about section active" id="about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>I'm @Model.FullName and <span>@Model.Job</span></h3>
                        <p>@Model.Bio</p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>
                                    Birthday :
                                    <span>
                                        @(Model.Birthday.HasValue? Model.Birthday.Value.ToString("dd MMMM yyyy", new System.Globalization.CultureInfo("en-US")): "")
                                    </span>
                                </p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Age : <span>@Model.Age</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Github : <span><a href="@Model.Github" target="_blank" rel="noopener noreferrer">@githubUsername</a></span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Email : <span>@Model.Email</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Degree : <span>@Model.Degree)</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Phone : <span>@Model.Phone</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>City : <span>@Model.City</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Freelance : <span>@Model.Freelance</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="buttons padd-15">
                                <a href="files/PhamVanThuan_CV.pdf" class="btn" target="_blank" rel="noopener noreferrer">Download CV</a>
                                <a href="@Url.Action("Index", "Contact")" class="btn hire-me">Hire me</a>
                            </div>
                        </div>
                    </div>
                    <div class="skills padd-15">
                        <div class="row">
                            @foreach (var skill in (List<Skill>)ViewBag.Skills)
                            {
                                <div class="skill-item padd-15">
                                    <h5>@skill.SkillName</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: @skill.Proficiency%;"></div>
                                        <div class="skill-porcent">@skill.Proficiency%</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="education padd-15">
                        <h3 class="title">Education</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    @foreach (var edu in (List<Education>)ViewBag.Educations)
                                    {
                                        <!-- timeline Item -->
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h6 class="timeline-date"><i class="fa fa-calendar"></i> @edu.StartYear - @edu.EndYear</h6>
                                            <h4 class="timeline-title">@edu.Title</h4>
                                            <p class="timeline-text">@edu.Description</p>
                                        </div>
                                        <!-- timeline Item End -->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="experience padd-15">
                        <h3 class="title">Experience</h3>
                        <div class="row">
                            <div class="timeline-box padd-15">
                                <div class="timeline shadow-dark">
                                    @foreach (var exp in (List<Experience>)ViewBag.Experiences)
                                    {
                                        <!-- timeline Item -->
                                        <div class="timeline-item">
                                            <div class="circle-dot"></div>
                                            <h6 class="timeline-date"><i class="fa fa-calendar"></i> @exp.StartYear - @exp.EndYear</h6>
                                            <h4 class="timeline-title">@exp.Title</h4>
                                            <p class="timeline-text">@exp.Description</p>
                                        </div>
                                        <!-- timeline Item End -->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->